:root {
  --white: #fff;
  --blue: #00274c;
  --blue-light: #364f78;
  --blue-dark: #000024;
  --yellow: #ffcb05;
  --yellow-light: #fffe52;
  --yellow-dark: #c79b00;
}

body {
  font-family: "Roboto", sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

.app-main {
  flex-grow: 1;
  background-color: var(--blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}
.box > * + * {
  margin-left: var(--flow-space, 1em);
}
.logo {
  width: 100%;
  height: auto;
  max-width: 200px;
  margin: 1.75em 0;
}
.textContainer {
  position: absolute;
  top: 49px;
  left: 48px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  line-height: 70px;
  text-align: center;
  color: var(--white);
}

.textContainer .minute {
  font-size: 18px;
  line-height: 15px;
  background: -webkit-linear-gradient(var(--yellow), var(--yellow-light));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.controls {
  display: flex;
}
.btn {
  border: none;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.btn .icon {
  font-size: 62px;
  font-weight: 700;
}
.btn-small {
  width: 40px;
  height: 40px;
}
.btn-small .icon {
  font-size: 24px;
}
.btn .icon-pause {
  font-weight: 100;
}
.btn-start {
  position: absolute;
  bottom: 40px;
  left: calc(50% - 20px);
  background-color: var(--yellow);
  color: var(--blue);
}
.btn-checkin {
  flex-shrink: 0;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
  background-color: var(--yellow);
  color: var(--blue);
}
.app-footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: var(--blue-light);
}
.app-footer-menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}
.remove {
  display: flex;
  align-items: center;
}
.contact-icon {
  font-size: 20px;
  font-weight: 100;
}
.footer-icon {
  font-size: 40px;
  font-weight: 300;
  color: var(--blue-dark);
}
