:root {
  --white: #fff;
  --blue: #00274c;
  --blue-light: #364f78;
  --blue-dark: #000024;
  --yellow: #ffcb05;
  --yellow-light: #fffe52;
  --yellow-dark: #c79b00;
}

body {
  font-family: "Roboto", sans-serif;
}

.App {
  text-align: center;
}

.App-header {
  background-color: var(--blue);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}
.box > * + * {
  margin-left: var(--flow-space, 1em);
}

.textContainer {
  position: absolute;
  top: 49px;
  left: 48px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  line-height: 70px;
  text-align: center;
  color: var(--white);
}

.textContainer .minute {
  font-size: 18px;
  line-height: 15px;
  background: -webkit-linear-gradient(var(--yellow), var(--yellow-light));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.controls {
  display: flex;
}
.btn {
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.btn:hover {
  text-shadow: 0 0 10px var(--yellow-light), 0 0 20px var(--yellow-light),
    0 0 30px var(--yellow-light), 0 0 40px var(--yellow-light),
    0 0 70px var(--yellow-light), 0 0 80px var(--yellow-light),
    0 0 100px var(--yellow-light), 0 0 150px var(--yellow-light);
}
.btn-start {
  background-color: var(--yellow);
  color: var(--blue);
}
.btn-checkin {
  background-color: var(--yellow);
  color: var(--blue);
}
.play-icon {
  font-size: 38px;
}
.check-icon {
  font-size: 38px;
}
